Package: online.tomk.tomcore
Name: TomCore
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tom Knighton
Author: Tom Knighton
Section: Tweaks
